# Tests
This notebook is for testing if the code works as intended

In [21]:
import sys
sys.path.append("..")

## Data Generator

In [23]:
from data_generator import serialize_song_data, generate_fake_users, serialize_user_data

serialize_song_data(tracks_path="../data/tracks.csv", output_path="../data/tracks.avro")
users = generate_fake_users(100)
serialize_user_data(users, output_path="../data/users.avro")

Opening the avro files to see what's up

In [31]:
from fastavro import reader
import pandas as pd

def read_avro(avro_path:str):
    with open(avro_path, "rb") as f:
        avro_reader = reader(f)
        df = pd.DataFrame(avro_reader)

    return df

In [32]:
df_tracks = read_avro("../data/tracks.avro")
df_users = read_avro("../data/users.avro")

In [33]:
df_tracks.head()

                 track_id  duration               artist
0  35iwgR4jXetI318WEWsa1Q         0              ['Uli']
1  021ht4sdgPcrDgSk7JTbKY         0  ['Fernando Pessoa']
2  07A5yehtSnoedViJAZkNnc         0  ['Ignacio Corsini']
3  08FmqUhxtyLTn6pAh6bk45         0  ['Ignacio Corsini']
4  08y9GfoqCWfOGsKdwojr5e         0      ['Dick Haymes']

In [37]:
df_users.head()

   user_id        username    location   birthdate gender favorite_genre
0        0    andrewbriggs       Malta  1953-04-29      M             []
1        1         xpineda     Uruguay  1991-07-26      M             []
2        2         kayla81    Mongolia  1957-08-06      M             []
3        3  friedmankarina  Bangladesh  1994-10-20      F             []
4        4        dleblanc      Mexico  1983-03-31      M             []