# Tests
This notebook is for testing if the code works as intended

In [1]:
import sys
sys.path.append("..")

In [2]:
import pandas as pd

from simulation_objects import User
from utils import read_avro

## Simulation Objects

In [3]:
df_tracks = pd.read_csv("../data/transformed_tracks.csv")

In [4]:
df_tracks.head()

,track_id,duration,artist,song_popularity,album_name,track_genre,newness_score,audio_features_type,artist_followers,artist_popularity
0,0BRXJHRNGQ3W4v9frnSfhu,178933,Dick Haymes,0,Classical Christmas,classical,0.000000,2,11327.0,35
1,6hH0kKnTWoGq5wppHKj5ie,172933,Dick Haymes,0,Stardust,dubstep,0.000000,2,11327.0,35
2,5uW3FmIzoRwuMo4zG1FUmv,135533,Dick Haymes,5,Misbehavin',garage,0.135922,2,11327.0,35
3,0kDOvwfAXewtwQKbIBDGOu,187880,Dick Haymes,4,English Rain,acoustic,0.135922,2,11327.0,35
4,0WBFrDVT9sbuglReraQkCh,178467,Dick Haymes,0,On Eagle's Wings,opera,0.165049,2,11327.0,35

In [5]:
user = User(user_id=1, artists=df_tracks["artist"].unique().tolist(), df_tracks=df_tracks)

In [6]:
n_long_sessions = user.get_n_long_sessions()
n_short_sessions = user.get_n_short_sessions()
sessions = user.get_sessions(n_long_sessions, n_short_sessions, df_tracks)
session_schedule = user.allocate_sessions(sessions)

In [7]:
sessions[1].tracks_list[0].listening_time

252707

## Data Generator

Opening the avro files to see what's up

In [8]:
df_tracks = read_avro("../data/tracks.avro")
df_users = read_avro("../data/users.avro")
df_events = read_avro("../data/events.avro")

In [9]:
df_tracks.head()

,track_id,duration,artist,name,popularity,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,album_name,track_genre
0,0BRXJHRNGQ3W4v9frnSfhu,178933,['Dick Haymes'],Ave Maria,0,1922,0.227,0.261,5,-12.343,1,0.0382,0.994,0.247000,0.0977,0.0539,118.890999,4,Classical Christmas,classical
1,3aynsWyvRwa1r5ekqaWxD3,176000,['Adolphe BÃ©rard'],Mirage,0,1922,0.497,0.218,4,-13.547,1,0.0345,0.992,0.000000,0.3110,0.5600,88.412003,4,A Collection of Fleeting Moments and Daydreams,chill
2,6hH0kKnTWoGq5wppHKj5ie,172933,['Dick Haymes'],Stardust,0,1922,0.208,0.226,8,-14.518,1,0.0331,0.985,0.810000,0.2190,0.2200,74.029999,3,Stardust,dubstep
3,0rUf1j43orpfi6f4LbVo8D,205053,['Bessie Smith'],Careless Love,25,1923,0.587,0.175,2,-9.935,1,0.0384,0.992,0.000318,0.0730,0.4830,98.523003,4,Careless Love,j-pop
4,5SvyP1ZeJX1jA7AOZD08NA,187227,"[""King Oliver's Creole Jazz Band""]",Tears,10,1923,0.359,0.357,3,-11.810,1,0.0511,0.994,0.819000,0.2900,0.7530,205.052994,4,Tears,dancehall

In [10]:
df_users.head()

   user_id         username  location   birthdate gender favorite_genre
0        0     romerorobert   Myanmar  1976-01-25      M             []
1        1  richardsonfaith   Armenia  1987-09-22      M             []
2        2          linda75     Haiti  1943-10-31      M             []
3        3         diazmary      Cuba  1968-04-24      M             []
4        4  stevenhendricks  Tanzania  1990-06-03      F             []

In [11]:
df_events.head()

,id,timestamp,track_id,user_id,listening_time
0,0,2024-01-01T02:04:23.307000,58y7uSRkJobEFglUEGi34E,0,263307
1,1,2024-01-01T02:10:20.934000,36tyHUjuKFdibGnbgDtkvT,0,357627
2,2,2024-01-01T02:16:18.561000,36tyHUjuKFdibGnbgDtkvT,0,357627
3,3,2024-01-01T02:20:41.868000,58y7uSRkJobEFglUEGi34E,0,263307
4,4,2024-01-01T02:25:05.175000,58y7uSRkJobEFglUEGi34E,0,263307

In [16]:
len(df_users), len(df_events)

(100, 139982)