# Tests
This notebook is for testing if the code works as intended

In [21]:
import sys
sys.path.append("..")

## Data Generator

In [23]:
from data_generator import serialize_song_data, generate_fake_users, serialize_user_data

serialize_song_data(tracks_path="../data/tracks.csv", output_path="../data/tracks.avro")
users = generate_fake_users(100)
serialize_user_data(users, output_path="../data/users.avro")

Opening the avro files to see what's up

In [31]:
from fastavro import reader
import pandas as pd

from utils import read_avro

df_tracks = read_avro("../data/tracks.avro")
df_users = read_avro("../data/users.avro")

In [39]:
df_tracks.head()

                 track_id  duration               artist
0  35iwgR4jXetI318WEWsa1Q    126903              ['Uli']
1  021ht4sdgPcrDgSk7JTbKY     98200  ['Fernando Pessoa']
2  07A5yehtSnoedViJAZkNnc    181640  ['Ignacio Corsini']
3  08FmqUhxtyLTn6pAh6bk45    176907  ['Ignacio Corsini']
4  08y9GfoqCWfOGsKdwojr5e    163080      ['Dick Haymes']

In [40]:
df_users.head()

   user_id         username  location   birthdate gender favorite_genre
0        0     romerorobert   Myanmar  1976-01-25      M             []
1        1  richardsonfaith   Armenia  1987-09-22      M             []
2        2          linda75     Haiti  1943-10-31      M             []
3        3         diazmary      Cuba  1968-04-24      M             []
4        4  stevenhendricks  Tanzania  1990-06-03      F             []